<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Messages</h1>
    <% if(user) {%> <% for(const message of messages_list) { %>
    <div>
      <% if(user.membership === 'FullMember') { %>
      <h3><%= message.author %></h3>
      <% } %>
      <h3><%= message.title %> <em><%= message.timestamp %></em></h3>
      <p>
        <%= message.message %>
      </p>
      <% if(user.username == "admin") {%>
      <form action="/messages/<%= message.id %>/delete" method="POST">
        <button type="submit">DELETE</button>
      </form>

      <% } %>
    </div>

    <% } %>
    <button><a href="/">Return to main page</a></button>
    <% } else { %>
    <h1>YOU SHALL NOT PASSS!</h1>
    <% } %>
  </body>
</html>
